@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.voiceInfo {
    font-family: "Montserrat";
    position: fixed;
    text-align: right;
    bottom: 5px;
    padding: 0;
    right: 5px;
    font-size: 15px;
    font-weight: 700;
    color: #7dd4ff;
    text-shadow: 1.25px 0 0 #000, 0 -1.25px 0 #000, 0 1.25px 0 #000, -1.25px 0 0 #000
}

.talking {
    color: #00aaff;
}

p {
    margin: 0
}