:root {
    --clothing-grid-size: 58px;
}


/*-----------------------------------------*/
/*-----------------------------------------*/
/* CLOTHING TOP ( HAT, GLASSES, EAR, MASK) */
/*-----------------------------------------*/
/*-----------------------------------------*/


.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-hat {
    position: absolute;
    top: 80px;
    left: 60px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-hat > div {
    width: var(--clothing-grid-size);
    height: var(--clothing-grid-size);
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-glasses {
    position: absolute;
    top: 80px;
    left: 130px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-glasses > div {
    width: var(--clothing-grid-size);
    height: var(--clothing-grid-size);
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-ear {
    position: absolute;
    top: 150px;
    left: 130px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-ear > div {
    width: var(--clothing-grid-size);
    height: var(--clothing-grid-size);
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-mask {
    position: absolute;
    top: 150px;
    left: 60px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-mask > div {
    width: var(--clothing-grid-size);
    height: var(--clothing-grid-size);
}




/*---------------------------------------------------*/
/*---------------------------------------------------*/
/* CLOTHING MIDDLE ( JACKET, SHIRT, WATCH, BRACALET) */
/*---------------------------------------------------*/
/*---------------------------------------------------*/



.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-top {
    position: absolute;
    top: 250px;
    left: 60px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-top > div {
    width: var(--clothing-grid-size);
    height: 128px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-shirts {
    position: absolute;
    top: 250px;
    left: 130px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-shirts > div {
    width: var(--clothing-grid-size);
    height: var(--clothing-grid-size);
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-gloves {
    position: absolute;
    top: 320px;
    left: 130px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-gloves > div {
    width: var(--clothing-grid-size);
    height: var(--clothing-grid-size);
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-watch {
    position: absolute;
    top: 390px;
    left: 60px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-watch > div {
    width: var(--clothing-grid-size);
    height: var(--clothing-grid-size);
}


.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-bracelet {
    position: absolute;
    top: 390px;
    left: 130px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-bracelet > div {
    width: var(--clothing-grid-size);
    height: var(--clothing-grid-size);
}





/*--------------------------------*/
/*--------------------------------*/
/* CLOTHING LOWER ( PANTS, SHOES) */
/*--------------------------------*/
/*--------------------------------*/


.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-pants {
    position: absolute;
    top: 475px;
    left: 100px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-pants > div {
    width: var(--clothing-grid-size);
    height: 118px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-shoes {
    position: absolute;
    top: 605px;
    left: 100px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-shoes > div {
    width: var(--clothing-grid-size);
    height: var(--clothing-grid-size);
}







.image-grid {
    width: 40px;
    height: 40px;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);

    filter: brightness(0) invert(1);

    opacity: 0.4;
}







.grid-parent-n6rko4gdc7h0cg8cd9xfsjkk-rig {
    position: absolute;
    top: 48;
    left: 105px;
}

.grid-parent-n6rko4gdc7h0cg8cd9xfsjkk-rig > div {
    width: 73px;
    height: 73px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-rig {
    position: absolute;
    top: 48px;
    right: 268px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-rig > div {
    width: 73px;
    height: 73px;
}

.grid-parent-n6rko4gdc7h0cg8cd9xfsjkk-backpack {
    position: absolute;
    top: 390px;
    left: 105px;
}

.grid-parent-n6rko4gdc7h0cg8cd9xfsjkk-backpack > div {
    width: 73px;
    height: 73px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-backpack {
    position: absolute;
    top: 390px;
    right: 268px;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-backpack > div {
    width: 73px;
    height: 73px;
}

.container-grid-pbep0kj5kinr4yuvrlq8x2p9 {
    position: absolute;

    top: 280px;
    right: 140px;

    width: 229px;
    height: 54px;
}

.grid-parent-pbep0kj5kinr4yuvrlq8x2p9-pckt1 {
    position: absolute;

    top: 0px;
    left: 0px;
}

.grid-parent-pbep0kj5kinr4yuvrlq8x2p9-pckt2 {
    position: absolute;

    top: 0px;
    left: 63px;
}

.grid-parent-pbep0kj5kinr4yuvrlq8x2p9-pckt3 {
    position: absolute;

    top: 0px;
    left: 120px;
}

.grid-parent-pbep0kj5kinr4yuvrlq8x2p9-pckt4 {
    position: absolute;

    top: 0px;
    left: 180px;
}



.container-grid-weapon_case {
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 416px;
    height: 365px;
}


.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-firstweapon {
    position: absolute;

    top: 680px;

    left: 30px;

    width: 100%;
    height: 100%;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-firstweapon > div {
    width: var(--weapon-weapon-w);
    height: var(--weapon-weapon-h);
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-secondweapon {
    position: absolute;

    top: 680px;

    left: 270px;

    width: 100%;
    height: 100%;
}

.grid-parent-c6jgbwjs9tc2vb8gtpwe7rywe-secondweapon > div {
    width: var(--weapon-weapon-w);
    height: var(--weapon-weapon-h);
}

.grid-parent-n6rko4gdc7h0cg8cd9xfsjkk-firstweapon {
    position: absolute;

    top: 735px;

	left: 0px;

    width: 100%;
    height: 100%;
}

.grid-parent-n6rko4gdc7h0cg8cd9xfsjkk-firstweapon > div {
    width: var(--weapon-weapon-w);
    height: var(--weapon-weapon-h);
}

.grid-parent-n6rko4gdc7h0cg8cd9xfsjkk-secondweapon {
    position: absolute;

    top: 735px;

	left: 245px;

    width: 100%;
    height: 100%;
}

.grid-parent-n6rko4gdc7h0cg8cd9xfsjkk-secondweapon > div {
    width: var(--weapon-weapon-w);
    height: var(--weapon-weapon-h);
}






.container-grid-rig1 {
    position: absolute;

    top: 45px;
    right: 10px;

    width: 250px;
    height: 215px;
}

.grid-parent-rig1-tl_pouch {
    position: absolute;

    top: 0px;
    left: 0px;
}

.grid-parent-rig1-tr_pouch1 {
    position: absolute;

    top: 0px;
    left: 116px;
}

.grid-parent-rig1-tr_pouch2 {
    position: absolute;

    top: 0px;
    left: 174px;
}

.grid-parent-rig1-b_pouch1 {
    position: absolute;

    top: 108px;
    left: 0px;
}

.grid-parent-rig1-b_pouch2 {
    position: absolute;

    top: 108px;
    left: 58px;
}

.grid-parent-rig1-b_pouch3 {
    position: absolute;

    top: 108px;
    left: 116px;
}

.grid-parent-rig1-b_pouch4 {
    position: absolute;

    top: 108px;
    left: 174px;
}




.container-grid-bag1 {
    position: absolute;
    width: 250px;
    height: 325px;

    right: 10px;
    top: 390px;
}

.grid-parent-bag1-1 {
    position: absolute;
    left: 0px;
    top: 57px;
}
.grid-parent-bag1-2 {
    position: absolute;
    left: 0px;
    top: 0px;
}
.grid-parent-bag1-3 {
    position: absolute;
    left: 0px;
    top: 270px;
}









.grid-container-label-backpack{
    top: 355px;
    right: 161px;
}

.grid-container-label-rig{
	top: 39px;
    right: 204px;
}

.grid-container-label-firstweapon-c6jgbwjs9tc2vb8gtpwe7rywe{
    top: 660px;
    left: 30px;

    height: 20px;
}
.grid-container-label-secondweapon-c6jgbwjs9tc2vb8gtpwe7rywe{
    top: 660px;
    left: 270px;

    height: 20px;
}

.grid-container-label-firstweapon-n6rko4gdc7h0cg8cd9xfsjkk{
    top: 715px;
    left: 0px;

    height: 20px;
}
.grid-container-label-secondweapon-n6rko4gdc7h0cg8cd9xfsjkk{
    top: 715px;
    left: 245px;

    height: 20px;
}

#clothing-circle {
    position: absolute;

    width: 200px;
    height: 550px;


    top: 180px;
    left: 100px;

    transform: skewY(-5deg);
}

.weight {
    position: absolute;
    left: 130px;
    bottom: 100px;
    width: 170px;
    height: 5px;
    z-index: 1;
}

.healthbar {
    position: absolute;
    left: 130px;
    bottom: 180px;
    width: 170px;
    height: 5px;
    z-index: 1;
}

.stamina {
    position: absolute;
    left: 130px;
    bottom: 140px;
    width: 170px;
    height: 5px;
    z-index: 1;
}

#staminaProgess {
	background-color: rgba(39, 118, 174, 0.5);
	box-shadow:
		0 0 .2rem rgba(39, 118, 174, 0.1),
		0 0 .7rem rgba(39, 118, 174, 0.12),
		0 0 1.2rem rgba(39, 118, 174, 0.15),
		0 0 1.8rem rgba(39, 118, 174, 0.18);
}


.bar-progress {
    position:absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(155,155,155,0.23);
    border: 2px solid rgb(0,0,0,0.1);
}

.progress-bar-circ {
    position:absolute;
    border-radius: 10px;
    background-color: rgba(3, 255, 20, 0.50);
    box-shadow:
    0 0 .2rem rgba(3, 255, 20, 0.1),
    0 0 .7rem rgba(3, 255, 20, 0.12),
    0 0 1.2rem rgba(3, 255, 20, 0.15),
    0 0 1.8rem rgba(3, 255, 20, 0.18);
}

.label-first {
    position: absolute;
    left: 0px;
	top: -30px;
}

.label-first >p {
    color: white;
	text-shadow: 1px 1px rgb(0,0,0, 0.6);
    
    text-align: left;
	letter-spacing: 1px;
    font-size: 10px;
    font-weight: 700;
	font-family: 'Poppins', sans-serif;
	line-height: 1.5vh;
}


.label-sec {
    position: absolute;
    right: 0%;
	top: -30px;
}

.label-sec>p {
    color: white;
	text-shadow: 1px 1px rgb(0,0,0, 0.6);
    
    text-align: left;
	letter-spacing: 1px;
    font-size: 10px;
    font-weight: 200;
	font-family: 'Poppins', sans-serif;
	line-height: 1.5vh;
}

.icon {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: white;
	top: -2px;
    left: -20px;
}