.selam {
    --primary-100: #e0fcff;
    --primary-200: #bef8fd;
    --primary-300: #87eaf2;
    --primary-400: #54d1db;
    --primary-500: #38bec9;
    --primary-600: #2cb1bc;
    --primary-700: #14919b;
    --primary-800: #0e7c86;
    --primary-900: #0a6c74;
}
