*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
	font: 16px/1.2 "Roboto", sans-serif;
	color: #333;
}

h1 {
    font-size: 30px;
    margin: 0;
}

a {
	display: inline-block;
	color: #333;
	text-decoration: none;
}

.container {
	width: 350px;
	height: auto;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(-50%, -50%);
	z-index: 1;
	overflow: hidden;
}

.leaderboard {
	background: linear-gradient(to bottom, #3a404d, #181c26);
}

.leaderboard .head {
	padding: 20px 16px;
	color: snow;
	font-size: 20px;
	text-align: center;
}
.leaderboard .head h1 {
	display: inline-block;
	margin-left: 4px;
}

.leaderboard .body {
	color: snow;
	font-size: 16px;
}
.leaderboard ol {
	counter-reset: number;
    padding-left: 0;
    margin-bottom: 0;
}
.leaderboard li {
	padding: 16px;
	display: flex;
}
.leaderboard li mark {
	flex-grow: 1;
	color: snow;
	background-color: transparent;
}
.leaderboard ol li.pos-first {
	background: #C9B037;
}
.leaderboard ol li.pos-second {
	background: #D7D7D7;
	color: #000 ;
}
.leaderboard ol li.pos-second mark {
	color: #000 ;
}


.leaderboard ol li.pos-third {
	background: #AD8A56;
}
.leaderboard li:nth-child(even) {
	background: #595959;
}
.leaderboard li:nth-child(odd) {
	background: #404040;
}

.leaderboard li.pos-me {
	border-top: 2px dashed rgb(255, 255, 255);
	border-bottom: 2px dashed rgb(255, 255, 255);
	border-right: 2px solid rgb(255, 255, 255);
}

.leaderboard li.current-player mark {
	background: #fff;
	color: #000 !important;
}

.footer {
	color: white;
    font-size: 13px;
    padding: 5px 0 8px 0;
    text-align: center;
}